@model HomeDetailViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.TitleName;
    //var employee = ViewBag.Employee as Employee;
}

@*<h1>Name: @employee.FullName</h1>*@

<div class=" rơw justify-content-center">
    <div class="col-sm-6">
        <div class="card my-2">
            <div class="card-header">
                <h3>@Model.Employee.FullName</h3>
            </div>
            <div class="card-body text-center">
                <img src="@Url.Content(Model.Employee.AvatarPath)" class="card-img-top">
                <h3>Emplyee ID: @Model.Employee.ID</h3>
                <h3>Email: @Model.Employee.Email</h3>
                <h3>Department: @Model.Employee.Department</h3>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Employee.ID" class="btn btn-primary">Edit</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Employee.ID" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>