@model IEnumerable<Employee>
@{ 
    //var employees = ViewData["employees"] as IEnumerable<Web.Models.Employee>;
    //var employees = ViewBag.Employees as IEnumerable<Employee>;
    ViewBag.Title = "Employee List";
}

<div class="row">
    @foreach (var employee in Model)
    {
    <div class="col-sm-3">
        <div class="card my-2">
            <div class="card-header">
                <h3>@employee.FullName</h3>
            </div>
            
            <img src=@Url.Content(employee.AvatarPath) class="card-img-top"/>
            <div class="card-footer text-center"               >
                @*<a href="Home/Details/@employee.ID">Views</a>
                @Html.ActionLink("View", "Details", "Home", new { id = employee.ID})*@
                @*<a href="@Url.Action("Details", "Home", new { id = employee.ID})" class="btn btn-info">View</a>*@
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.ID" class="btn btn-success">View</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.ID" class="btn btn-primary">Edit</a>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.ID" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    }
</div> 